{% extends 'base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p><strong>Статус актуальности:</strong> {{ post.status }}</p>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid" width='200px' height='200px'>
    {% endif %}
    <p><strong>Пользователь:</strong> {{ post.user }}</p>
    <p><strong>Категории:</strong>
    {% for category in post.categories.all %}
        {{ category.title }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>
    <p><strong>Текст:</strong>
        {{post.text}}
    </p>
    <p><strong>Дата создания:</strong> {{ post.created_at }}</p>
    <p><strong>Дата обновления:</strong> {{ post.updated_at }}</p>
    
    <form method="post" action="{% url 'post_delete' pk=post.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить пост</button>
    </form>

{% endblock %}